__pycache__/
isasViewer_plots.ipynb
.ipynb_checkpoints
static/img/*
!static/img/.gitkeep 
static/nc_cache/*
!static/nc_cache/.gitkeep 
__pycache__/app.cpython-39.pyc
__pycache__/utilities.cpython-39.pyc
__pycache__/utilities.cpython-39.pyc
tmpk/
