.leaflet-popup-content-wrapper {
    background: black;
    box-shadow: 0 3px 14px rgba(255, 255, 255, 0.4);
}

.leaflet-popup-content-wrapper {
    border-radius: 5px;
}

.leaflet-popup-content {
    padding: 6px;
    font-weight: bold;
    color: white;
}

.leaflet-popup-tip-container {
    margin: 0;
    width: 0px;
    height: 0px;
    position: relative;
    overflow: hidden;
}