<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Isas Viewer : How to use</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='helppage/helppage.css')}}">
</head>

<body>
    <center><h1>ISAS VIEWER : How to use</h1></center>
    <!-- Slideshow container -->
    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
            <div class="numbertext">1 / 9</div>
            <img src="{{ url_for('static', filename='helppage/img/IMG1.png')}}" style="width:100%">
            <div class="text">To visualize a dataset, choose the dataset, the variable, the timestamp and the depth values. Then click "PLOT".</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 9</div>
            <img src="{{ url_for('static', filename='helppage/img/IMG2.png')}}" style="width:100%">
            <div class="text">You can adjust the color range if needed.</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 9</div>
            <img src="{{ url_for('static', filename='helppage/img/IMG2B.png')}}" style="width:100%">
            <div class="text">You can access a data value by selecting the feature tool and clicking on the position.</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">4 / 9</div>
            <img src="{{ url_for('static', filename='helppage/img/IMG3.png')}}" style="width:100%">
            <div class="text">To plot a time serie for the dataset/variable/depth selection, you can draw the point (target icon) or fill the coordinates. Then click "Plot".
                Note : Time serie generation can take some time.
                </div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">5 / 9</div>
            <img src="{{ url_for('static', filename='helppage/img/IMG4.png')}}" style="width:100%">
            <div class="text">To plot a vertical profile for the dataset/variable/timestamp selection, you can draw the point (target icon) or fill the coordinates. Then click "Plot".</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">6 / 9</div>
            <img src="{{ url_for('static', filename='helppage/img/IMG5.png')}}" style="width:100%">
            <div class="text">To plot a regionnal section for the dataset/variable/depth/timestamp selection. You can draw the area (selection icon) or fill the coordinates. You can also click the globe icon to use predefined areas.
                If a custom color range is used in the interactive plot, it is also used in the generated plot.
                </div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">7 / 9</div>
            <img src="{{ url_for('static', filename='helppage/img/IMG6.png')}}" style="width:100%">
            <div class="text">Color range can also be customized within the plot. Figure and/or data can also be downloaded using figure links.</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">8 / 9</div>
            <img src="{{ url_for('static', filename='helppage/img/IMG7.png')}}" style="width:100%">
            <div class="text">To plot a vertical section for the dataset/variable/timestamp selection. You can draw the line (target icon, double click on the 2nd point to validate the line) or fill the coordinates. In the section plot, left will always be west.
                If a custom color range is used in the interactive plot, it is also used in the generated plot.</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">9 / 9</div>
            <img src="{{ url_for('static', filename='helppage/img/IMG8.png')}}" style="width:100%">
            <div class="text"> All tools can be applied in anomaly to the selected climatology.</div>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
        <span class="dot" onclick="currentSlide(7)"></span>
        <span class="dot" onclick="currentSlide(8)"></span>
    </div>

    <br>    
    <p>Technical contact : <a href="mailto:kevin.balem@ifremer.fr">kevin.balem@ifremer.fr</a></p>
    <p>Please remember that all the data are distributed via servers, and servers can be slow, down or even sad :)</p>

    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        } 
    </script>
</body>

</html>